<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1><%= t('edit_google_merchant_settings') %></h1>

<%= form_tag(admin_google_merchants_path, :method => :put) do %>
  <p>
    <label><%= t("google_merchant_title") %></label>
    <%= text_field_tag('preferences[google_merchant_title]', Spree::GoogleMerchant::Config[:google_merchant_title]) %>
  </p>
  <p>
    <label><%= t("google_merchant_description") %></label>
    <%= text_field_tag('preferences[google_merchant_description]', Spree::GoogleMerchant::Config[:google_merchant_description]) %>
  </p>
  <p>
    <label><%= t('production_domain') %></label>
    <%= text_field_tag('preferences[production_domain]', Spree::GoogleMerchant::Config[:production_domain])%>
  </p>


  <p class="form-buttons">
    <%= button t('update') %>
    <%= t("or") %> <%= link_to t("cancel"), admin_google_merchants_url %>
  </p>
<% end %>
